
@import url("https://raw.githubusercontent.com/Luiza1011/themes-discord-repo/main/Mixpack/Main.css");

:root {

    /* Discord Variables */
    --modal-background: rgba(40, 42, 44, .8);
    --background-primary: rgba(30, 32, 34, .8);
    --background-secondary: rgba(30, 32, 34, .6);
    --background-secondary-alt: rgba(20, 22, 24, .6);
    --background-tertiary: rgba(20, 22, 24, .5);
    --background-floating: rgba(30, 32, 34, .8);
    --background-accent: rgba(60, 62, 64, .8);

    --background-modifier-accent: rgba(60, 62, 64, .6);
    --background-modifier-hover: rgba(177, 72, 226, 0.493);
    --background-modifier-selected: rgba(60, 62, 64, .6);

    --brand-experiment: rgba(177, 72, 226, 0.493);
    --text-color: rgb(230, 230, 230);
    --sidebar-channel-bg: rgba(219, 0, 172, 0.699);
    --button-danger-background: rgba(200, 50, 50, .8);
    --interactive-normal: rgba(200, 200, 200);
    --modal-footer-background: rgba(30, 32, 34, 0.4);

    --button-secondary-background: rgba(60, 62, 66, .8);
    --button-secondary-background-hover: rgba(80, 82, 86, .8);

    /* MixPack Variables */

    /* Memberlist */
    --radius: 15px;
    --Memberlist-Background: rgba(60, 62, 64, .2);
    --Memberlist-Header: rgba(80, 82, 84, .4);
    --Memberlist-Avatar: rgba(30, 32, 34, .4);
    --Memberlist-Scrollbar: rgba(60, 62, 64, .2);
    
    /*extra vars*/
    --font: 'Ubuntu';
    --background-brightness: 20%;
    --background-image: url(https://cdn.discordapp.com/attachments/818490018623651844/1056931489675227136/image.png);
    --background-image-blur: 5px; /* Blur intensity of --background-image | Must end in px | DEFAULT: 5px */
    --background-image-size: cover; /* Size of the background image | DEFAUT: cover | OPTIONS: cover, contain */
    --background-image-position: center; /* Position of background image | DEAFULT: center | OPTIONS: top, right, bottom, left, center */
    --window-padding: 5px; /* Spacing around the Discord window | DEFAULT: 20px */
    --window-roundness: 7px; /* Roundness of Discord | DEFAULT: 10px */  



    --HSL-server-icon-size: 50px;  /* Size of the server icons | DEFAULT: 40px */
    --HSL-server-spacing: 4px;  /* Spacing between each server icon | DEFAULT: 10px */
    --HSL-server-direction: column; /* Direct of the server list. | Options: column, column-reverse | DEFAULT: column */
}
